.projectlist-container {
	display: flex;
	min-height: 100vh;
	background: #f6f7fb;
}

.projectlist-container.dark {
	background: #181822 !important;
	color: #fff !important;
}

.projectlist-main-wide {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	min-width: 0;
	padding-left: 60px;
}

.projectlist-container.dark .projectlist-main-wide {
	background: #181822 !important;
}

.projectlist-header-wide {
	margin-top: 26px;
	margin-right: 9px;
	z-index: 1000;
}

/* .projectlist-container.dark .projectlist-header-wide {
	background: #181822 !important;
} */

.projectlist-circle-section-wide {
	position: relative;
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

/* .projectlist-container.dark .projectlist-circle-section-wide {
	background: #181822 !important;
} */
