.mainInfoContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-10%, -50%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 14px;
	z-index: 10;
}
.projectNumber {
	font-family: "Roboto Mono";
	font-size: 95px;
	font-weight: 700;
	color: #111;
	margin-right: 24px;
	min-width: 110px;
}
.projectName {
	font-size: 95px;
	font-weight: 700;
	cursor: pointer;
	transition: color 0.2s;
}

.projectDesc {
	font-size: 1.3rem;
	color: #888;
	font-weight: 400;
	width: 100%;
	white-space: pre-line;
	line-height: 2;
}
.row {
	display: flex;
	align-items: center;
	gap: 165px;
}
.projectlist-header-wide {
	display: flex;
	align-items: center;
	gap: 26px;
	width: 100%;
}
