.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}

.modalBox {
	width: 470px;
	height: 249px;
	flex-shrink: 0;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.message {
	height: 166px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Pretendard;
	font-size: 21px;
	text-align: center;
	font-weight: 500;
}

.buttonRow {
	height: 83px;
	width: 100%;
	display: flex;
	font-family: Pretendard;
	border-top: 2.5px solid var(--border-color, #e0dfe6);
	margin: 0;
	padding: 0;
}

.buttonRow button {
	flex: 1;
	height: 100%;
	border: none;
	background: none;
	font-size: 1.18rem;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.buttonRow button:not(:last-child) {
	border-right: 1.5px solid var(--border-color, #e0dfe6);
}

.cancelBtn {
	background: none;
	border-bottom-left-radius: 20px;
}

.confirmBtn {
	background: none;
	border-bottom-right-radius: 20px;
}
