.projectTimelineContainer {
    width: 100%;
    aspect-ratio: 1 / 0.458;
    border-radius: 25px;
    padding-left: 49px;
    padding-right: 30px;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 37px 0 44px;
}

.title {
    font-size: 25px;
    font-weight: 600;
}

.unitContainer {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-weight: 500;
    font-size: 18px;
}

.projectContainer {
    width: 100%;
    height: 70.2%;
    overflow: hidden;
}

.test {
    width: calc(100% - 33px);
    border-bottom: 1px solid #EEEEEE;
    min-height: 60px;
}
.test:first-child {
    border-top: 1px solid #EEEEEE;
}

.timeLine {
    background-color: #E8F0FB;
    height: 45px;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bar {
    width: 7px;
    height: 100%;
    background: #BFDAFF;
    border-radius: 5px;
}

.name {
    position: absolute;
    color: #000;
    left: 17px;
    width: calc(100% - 24px);
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
}

.floatingBox {
    position: fixed;
    pointer-events: none;
    background: white;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    z-index: 1000;
}
