.searchContainer {
    width: 254px;
    height: auto;
    max-height: 375px;
    border-radius: 5px;
    padding: 17px 8px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.projectListContainer {
    width: 100%;
    height: auto;
    max-height: 270px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.projectListContainer::-webkit-scrollbar {
    width: 0;
}

.empty {
    width: calc(100%);
    height: auto;
    min-height: 54px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.projectName {
    width: calc(100% - 34px);
    height: calc(100% - 31px);
    margin: 15.5px 17px;
    overflow: hidden;
    white-space: nowrap;
}
.projectName:hover .text {
    animation: scrollText linear infinite;
}

.text {
    display: inline-block;
    transform: translateX(0);
}

@keyframes scrollText {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(calc(-100% - 34px));
    }
}