.SideBar {
    width: 300px;
    height: 100vh;
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 169px;
    height: 58px;
    margin-top: 34px;
    margin-bottom: 87px;
    margin-right: 27px;
}

.logout {
    width: 110px;
    height: 29px;
    position: absolute;
    bottom: 70px;
}